@keyframes spin {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

.image {
  height: 100px;
  width: 100px;
  margin: auto;
}

.service-box {
  background-color: white;
  padding: 20px;
}

.service-box:hover a img {
  animation: spin 1s linear;
}
